{% extends "__base__.html" %}
{% import "__macros__.html" as macros %}

{% block title %}{{ user.name }} 的回答 - 知乎Demo{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.name }} 的回答</h1>
</div>
<div>
    <ul class="answers">
    {% for answer in answers %}
            <div><p style="font-size:110%;">
            <a href="{{ url_for('main.answer',qid=answer.answer_question.id, aid=answer.id) }}">
                {{ answer.answer_question.title }}
            </a></p>
            </div>
            <div style="height:100%; width:0px;float:left;">
            {% if not current_user.is_following_answer(answer) %}
            <a href="{{ url_for('main.follow_answer',id=answer.id) }}" class="btn btn-default"><p>▲</p>{{ answer.users.count() }}</a>
            {% else %}
            <a href="{{ url_for('main.unfollow_answer', id=answer.id) }}" class="btn btn-primary"><p>▲</p>{{ answer.users.count() }}</a>
            {% endif %}
            <p><a href="{{ url_for('main.answer', aid=answer.id, qid=answer.answer_question.id) }}" class="btn btn-default">▼</a></p>
            </div>
            <li class="answer">
                <div class="answer-content">
                    <div class="answer-author">
                        <a href="{{ url_for('main.user', id=answer.answer_author.id) }}">{{ answer.answer_author.name }}</a>
                        {% if answer.answer_author.one_desc!=None %}
                        {{ answer.answer_author.one_desc }}
                        {% endif %}
                    </div>
                    <div class="answer-body" id="content">
                        {{ answer.content }}
                        {% if current_user == answer.answer_author %}
                        <a href="{{ url_for('main.answer_edit', id=answer.id) }}">✄修改</a>
                        {% endif %}
                    </div>
                    <div class="answer-date">
                        发布于 {{ moment(answer.created_at, local=True).fromNow() }}
                        <a href="{{ url_for('main.answer', qid=answer.answer_question.id, aid=answer.id) }}">
                        {% if answer.answer_comments.count()==0 %}
                        ¶添加评论
                        {% else %}
                        ¶{{ answer.answer_comments.count() }}条评论
                        {% endif %}
                        </a>
                        ♥感谢
                        <a href="{{ url_for('main.answer_collect', id=answer.id) }}">★收藏</a>
                        ·没有帮助
                    </div>
                </div>
            </li>
    {% endfor %}
    </ul>
</div>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, id = user.id) }}
</div>
{% endblock %}