{% extends "__base__.html" %}

{% block title %}{{ user.name }} - 知乎Demo{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if user.image %}
        <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=user.image) }}">
    {% endif %}
    <div class="profile-header">
    {% if user == current_user %}
    <h3>
        {{ user.name }},
        {% if user.one_desc %}{{ user.one_desc }}{% endif %}
    </h3>
    <p>
        {% if user.location %}{{ user.location }}{% else %}填写居住地{% endif %}
        {% if user.industry %}{{ user.industry }}{% else %}填写行业{% endif %}
        {% if user.sex==1 %}男{% else %}女{% endif %}
    </p>
    <p>
        {% if not user.company and not user.job %}填写工作信息{% endif %}
        {% if user.company %}{{ user.company }}，填写职位信息{% endif %}
        {% if user.job %}填写公司信息，{{ user.job }}{% endif %}
    </p>
    <p>
        {% if not user.school and not user.majar %}填写教育信息{% endif %}
        {% if user.school %}{{ user.school }}，填写专业信息{% endif %}
        {% if user.majar %}填写学校信息,{{ user.majar }}{% endif %}
    </p>
    <p>{% if user.about_me %}{{ user.about_me }}{% else %}填写个人简介{% endif %}</p>
    {% else %}
    <h3>
        {{ user.name }},
        {% if user.one_desc %}{{ user.one_desc }}{% endif %}
    </h3>
    <p>
        {% if user.location %}{{ user.location }}{% endif %}
        {% if user.industry %}{{ user.industry }}{% endif %}
        {% if user.sex==1 %}男{% else %}女{% endif %}
    </p>
    <p>
        {% if user.company %}{{ user.company }}{% endif %}
        {% if user.job %}{{ user.job }}{% endif %}
    </p>
    <p>
        {% if user.school %}{{ user.school }}{% endif %}
        {% if user.majar %}{{ user.majar }}{% endif %}
    </p>
    <p>{% if user.about_me %}{{ user.about_me }}{% endif %}</p>
    {% endif %}
    <!--
    {% if current_user.is_admin %}
    <p><a href="mailto:{{ user.email }}">{{ user.name }}</a></p>
    {% endif %}
    -->

    <p>
        {% if user != current_user %}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('main.follow',id=user.id) }}" class="btn btn-primary">关注</a>
            {% else %}
            <a href="{{ url_for('main.unfollow', id=user.id) }}" class="btn btn-default">取消关注</a>
            {% endif %}
        {% endif %}
        <a href="{{ url_for('main.followed_by', id=user.id) }}">关注了: <span class="badge">{{ user.followed.count() }}</span></a>
        <a href="{{ url_for('main.followers', id=user.id) }}">关注者: <span class="badge">{{ user.followers.count() }}</span></a>
        {% if user != current_user and user.is_following(current_user) %}
        | <span class="label label-default">对方关注了你</span>
        {% endif %}
    </p>
    <p>
        {% if user == current_user %}
        <a class="bth bth-danger" href="{{ url_for('main.edit_profile') }}">编辑我的资料</a>
        <a class="bth bth-danger" href="{{ url_for('main.edit_avatar') }}">上传头像</a>
        {% endif %}
    </p>
    </div>
</div>
{% endblock %}