{% extends "__base__.html" %}
{% import "__macros__.html" as macros %}

{% block title %}{{ user.name }} - 知乎Demo{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if user.image %}
        <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=user.image) }}">
    {% endif %}
    <div class="profile-header">
    {% if user == current_user %}
    <h3>
        {{ user.name }},
        {% if user.one_desc %}{{ user.one_desc }}{% endif %}
    </h3>
    <p>
        {% if user.location %}{{ user.location }}{% else %}填写居住地{% endif %}
        {% if user.industry %}{{ user.industry }}{% else %}填写行业{% endif %}
        {% if user.sex==1 %}男{% else %}女{% endif %}
    </p>
    <p>
        {% if not user.company and not user.job %}填写工作信息{% endif %}
        {% if user.company %}{{ user.company }}，填写职位信息{% endif %}
        {% if user.job %}填写公司信息，{{ user.job }}{% endif %}
    </p>
    <p>
        {% if not user.school and not user.majar %}填写教育信息{% endif %}
        {% if user.school %}{{ user.school }}，填写专业信息{% endif %}
        {% if user.majar %}填写学校信息,{{ user.majar }}{% endif %}
    </p>
    <p>{% if user.about_me %}{{ user.about_me }}{% else %}填写个人简介{% endif %}</p>
    {% else %}
    <h3>
        {{ user.name }},
        {% if user.one_desc %}{{ user.one_desc }}{% endif %}
    </h3>
    <p>
        {% if user.location %}{{ user.location }}{% endif %}
        {% if user.industry %}{{ user.industry }}{% endif %}
        {% if user.sex==1 %}男{% else %}女{% endif %}
    </p>
    <p>
        {% if user.company %}{{ user.company }}{% endif %}
        {% if user.job %}{{ user.job }}{% endif %}
    </p>
    <p>
        {% if user.school %}{{ user.school }}{% endif %}
        {% if user.majar %}{{ user.majar }}{% endif %}
    </p>
    <p>{% if user.about_me %}{{ user.about_me }}{% endif %}</p>
    {% endif %}
    <!--
    {% if current_user.is_admin %}
    <p><a href="mailto:{{ user.email }}">{{ user.name }}</a></p>
    {% endif %}
    -->

    <p>
        {% if user != current_user %}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('main.follow',id=user.id) }}" class="btn btn-primary">关注</a>
            {% else %}
            <a href="{{ url_for('main.unfollow', id=user.id) }}" class="btn btn-default">取消关注</a>
            {% endif %}
        {% endif %}
        <a href="{{ url_for('main.followed_by', id=user.id) }}">关注了: <span class="badge">{{ user.followed.count() }}</span>人</a>
        <a href="{{ url_for('main.followers', id=user.id) }}">关注者: <span class="badge">{{ user.followers.count() }}</span>人</a>
        {% if user != current_user and user.is_following(current_user) %}
        | <span class="label label-default">对方关注了你</span>
        {% endif %}
    </p>
        <p>
            关注了<a href="{{ url_for('main.following_tag', id=user.id) }}"><span class="badge">{{ user.tags.count() }}</span>个话题</a>
        </p>
        <p>
        {% for tag in user.tags %}
            {% if loop.index <=3 %}
            <a href="{{ url_for('main.topic', id=tag.tag_set.id) }}">
                <img class="img-rounded" src="{{ url_for('static', filename=tag.tag_set.image) }}" width="25" height="25">
            </a>
            {% endif %}
        {% endfor %}
        </p>
        <p>
            {% if user == current_user %}
            <a class="bth bth-danger" href="{{ url_for('main.edit_profile') }}">编辑我的资料</a>
            <a class="bth bth-danger" href="{{ url_for('main.edit_avatar') }}">上传头像</a>
            {% endif %}
        </p>
    </div>
</div>

<div>
    <a href="{{ url_for('main.people_questions', id=user.id) }}"><h4>提问<span class="badge">{{ user.user_questions.count() }}</span></h4></a>
    <a href="{{ url_for('main.people_answers', id=user.id) }}"><h4>回答<span class="badge">{{ user.user_answers.count() }}</span></h4></a>
    <a href="{{ url_for('main.collections', id=user.id) }}"><h4>收藏<span class="badge">{{ user.user_collections.count() }}</span></h4></a>
</div>

<div style="height:100%; width:800px;">

<table class="table table-hover followers">
    <thead style="font-size:110%;"><tr><th>回答<a href="{{ url_for('main.people_answers', id=user.id) }}"><span class="badge">{{ user.user_answers.count() }}</span></a></th></tr></thead>
    {% for answer in user.user_answers %}
    {% if loop.index <=3 %}
    <tr>
        <td>
            <div style="height:100%; width:0px;float:left;">
            <p class="btn btn-default">{{ answer.users.count() }}</p>
            </div>
            <div style="margin-left: 48px;">
                <p style="font-size:110%;"><a href="{{ url_for('main.answer', qid=answer.answer_question.id, aid=answer.id) }}">{{ answer.answer_question.title }}</a></p>
            </div>
            <div style="margin-left: 48px;">
                {{ answer.content|truncate(50, True) }}
            </div>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<table class="table table-hover followers">
    <thead style="font-size:110%;"><tr><th>提问<a href="{{ url_for('main.people_questions', id=user.id) }}"><span class="badge">{{ user.user_questions.count() }}</span></a></th></tr></thead>
    {% for question in user.user_questions %}
    {% if loop.index <=3 %}
        <tr>
            <td>
            <p style="font-size:110%;"><a href="{{ url_for('main.question', id=question.id) }}">{{ question.title }}</a></p>
            </td>
        </tr>
    {% endif %}
    {% endfor %}
</table>

<table class="table table-hover followers">
    <thead style="font-size:110%"><tr><th>最新动态</th></tr></thead>
    {% for following_question in following_questions %}
    <tr>
        <td>
            <p>关注了问题</p>
            <a href="{{ url_for('main.question', id=following_question.u_question.id) }}">
                {{ following_question.u_question.title }}
            </a>
        </td>
    </tr>
    {% endfor %}
    {% for following_answer in following_answers %}
    <tr>
        <td>
            <p>赞同了回答</p>
            <div><p style="font-size:110%;">
            <a href="{{ url_for('main.answer',qid=following_answer.u_answer.answer_question.id, aid=following_answer.u_answer.id) }}">
                {{ following_answer.u_answer.answer_question.title }}
            </a></p>
            </div>
            <div style="height:100%; width:0px;float:left;">
            <p class="btn btn-default">{{ following_answer.u_answer.users.count() }}</p>
            </div>
            <li class="answer">
                <div class="answer-content">
                    <div class="answer-author">
                        <a href="{{ url_for('main.user', id=following_answer.u_answer.answer_author.id) }}">{{ following_answer.u_answer.answer_author.name }}</a>
                        {% if following_answer.u_answer.answer_author.one_desc!=None %}
                        {{ following_answer.u_answer.answer_author.one_desc }}
                        {% endif %}
                    </div>
                    <div class="answer-body" id="content">
                        {{ following_answer.u_answer.content|truncate(110, True) }}
                        {% if current_user == following_answer.u_answer.answer_author %}
                        <a href="{{ url_for('main.answer_edit', id=following_answer.u_answer.id) }}">✄修改</a>
                        {% endif %}
                    </div>
                    <div class="answer-date">
                        {% if not following_answer.u_answer.modified_at %}
                        发布于 {{ moment(following_answer.u_answer.created_at, local=True).fromNow() }}
                        {% else %}
                        编辑于{{ following_answer.u_answer.modified_at }}
                        {% endif %}
                        <a href="{{ url_for('main.answer', qid=following_answer.u_answer.answer_question.id, aid=following_answer.u_answer.id) }}">
                        {% if following_answer.u_answer.answer_comments.count()==0 %}
                        ¶添加评论
                        {% else %}
                        ¶{{ following_answer.u_answer.answer_comments.count() }}条评论
                        {% endif %}
                        </a>
                        ♥感谢
                        <a href="{{ url_for('main.answer_collect', id=following_answer.u_answer.id) }}">★收藏</a>
                        ·没有帮助
                    </div>
                </div>
            </li>
        </td>
    </tr>
    {% endfor %}
    {% for following_tag in following_tags %}
    <tr>
        <td>
            关注了话题
            <a href="{{ url_for('main.topic', id=following_tag.tag_set.id) }}">
                <img class="img-rounded" src="{{ url_for('static', filename=following_tag.tag_set.image) }}" width="20" height="20">
                {{ following_tag.tag_set.title }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}