{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "__macros__.html" as macros %}

{% block title %}{{ question.title }} - 知乎Demo{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready(function($){
$('.btn1').click(function(){ //.btn1是展开的按钮,没给它取个好名字,暂时称呼它为爸爸按钮= =
$('.children').show();//点一下爹地,把孩子叫出来
$(this).hide();$('.btn2').show();//.btn2(暂时称它为妈妈按钮) : 把妈妈叫出来,把爸爸叫回去
});
$('.btn2').click(function(){ //点一下妈咪
$('.children').hide();//把孩子叫回去
$(this).hide();$('.btn1').show();//然后爹地又出来了,妈咪又回去了
});
});
</script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <p>
        {% for tag in tags %}
        <a href="{{ url_for('main.topic', id=tag.q_tag.id) }}">
            <span class="label label-primary">{{ tag.q_tag.title }}</span>
        </a>
        {% endfor %}
    </p>
    <h3>{{ question.title }}</h3>
    <p>{{ question.content }}</p>
    <p>
        {{ created_time }}
        <mark class="btn1">
            {% if question.question_comments.count()==0 %}
            ▽添加评论
            {% else %}
            ▽{{ question.question_comments.count() }}条评论
            {% endif %}
        </mark>
        <mark class="btn2" style="display:none;">▽收起评论</mark>
    </p>
    <div class="children" style="display:none;">
        {% include 'question_comments.html' %}
        <div class="comment-form">
            {{ wtf.quick_form(form_question_comment) }}
        </div>
    </div>
    <p>{{ question.question_author.name }}</p>
    <p>
        {% if not current_user.is_following_question(question) %}
        <a href="{{ url_for('main.follow_question',id=question.id) }}" class="btn btn-primary">关注</a>
        {% else %}
        <a href="{{ url_for('main.unfollow_question', id=question.id) }}" class="btn btn-default">取消关注</a>
        {% endif %}
        <a href="{{ url_for('main.question_followers', id=question.id) }}">
            <span class="badge">{{ question.users.count() }}</span>人关注了该问题</a>
    </p>
</div>

<div style="height:100%; width:800px;">
<ul class="answers">
    {% for answer in answers %}
    <div style="height:100%; width:0px;float:left;">
    {% if not current_user.is_following_answer(answer) %}
    <a href="{{ url_for('main.follow_answer2',id=answer.id) }}" class="btn btn-default"><p>▲</p>{{ answer.users.count() }}</a>
    {% else %}
    <a href="{{ url_for('main.unfollow_answer2', id=answer.id) }}" class="btn btn-primary"><p>▲</p>{{ answer.users.count() }}</a>
    {% endif %}
    <p><a href="{{ url_for('main.question', id=answer.answer_question.id) }}" class="btn btn-default">▼</a></p>
    </div>
    <li class="answer">
        <div class="answer-image">
            <a href="{{ url_for('main.user', id=answer.answer_author.id) }}">
                <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename=answer.answer_author.image) }}" height="36" width="36">
            </a>
        </div>
        <div class="answer-content">
            <div class="answer-author">
                <a href="{{ url_for('main.user', id=answer.answer_author.id) }}">{{ answer.answer_author.name }}</a>
                {% if answer.answer_author.one_desc!=None %}
                {{ answer.answer_author.one_desc }}
                {% endif %}
            </div>
            <div class="answer-date">
                {% for answer_follower in answer.users.all() %}
                {% if loop.index <=3 %}
                <a href="{{ url_for('main.user', id=answer_follower.a_user.id) }}">{{ answer_follower.a_user.name }}</a>
                {% endif %}
                {% else %}
                <mark> </mark>
                {% endfor %}
                ……<a href="{{ url_for('main.answer_followers', id=answer.id) }}">等人赞同了该答案</a>
            </div>
            <div class="answer-body">
                {{ answer.content }}
                {% if current_user == answer.answer_author %}
                <a href="{{ url_for('main.answer_edit2', id=answer.id) }}">✄修改</a>
                {% endif %}
            </div>
            <div class="answer-date">
                {% if not answer.modified_at %}
                发布于 {{ moment(answer.created_at, local=True).fromNow() }}
                {% else %}
                编辑于{{ answer.modified_at }}
                {% endif %}
                <a href="{{ url_for('main.answer', qid=answer.answer_question.id, aid=answer.id) }}">
                {% if answer.answer_comments.count()==0 %}
                ¶添加评论
                {% else %}
                ¶{{ answer.answer_comments.count() }}条评论
                {% endif %}
                </a>
                ♥感谢
                <a href="{{ url_for('main.answer_collect', id=answer.id) }}">★收藏</a>
                ·没有帮助
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
<div>
    {% for question_answer in question.question_answers %}
    {% if question_answer.answer_author %}
    <h3>你已回答过此问题。</h3>
    {% else %}
    {{ wtf.quick_form(form_add_answer) }}
    {% endif %}
    {% else %}
    {{ wtf.quick_form(form_add_answer) }}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}