{% extends "__base__.html" %}
{% import "__macros__.html" as macros %}

{% block title %} 关注【{{ topic.title }}】话题的人 - 知乎Demo{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded" src="{{ url_for('static', filename=topic.image) }}">{{ topic.title }}
    <p>{{ topic.users.count() }} {{ title }}</p>
</div>
<table class="table table-hover followers">
    <thead><tr><th>User</th></tr></thead>
    {% for tag_follower in tag_followers %}
    <tr>
        <td>
            <a href="{{ url_for('main.user', id=tag_follower.user.id) }}">
                <img class="img-rounded" src="{{ url_for('static', filename=tag_follower.user.image) }}">
                {{ tag_follower.user.name }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, id = topic.id) }}
</div>
{% endblock %}